:root {
  --m8u-white: #fcfcfc;
  --m8u-black: #022028;
  --m8u-1: #e1f7ac;
  --m8u-2: #cfc6f7;
  --m8u-3: #baf7ba;
  --m8u-4: #f794c6;
  --m8u-5: #f7eda1;
  --heder-height: 40px;
  --footer-height: 120px;
  --main-padding-top: 20px;
  --main-max-width: 1300px;
  --glass-frame-width: 300px;
  --glass-frame-height: 200px;
  --glass-frame-margin-x: 5px;
  --glass-frame-margin-y: 20px;
}
@font-face {
  font-display: swap;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), url("/fonts/MaterialIconsRound-Regular.otf");
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "Kaisei Decol";
  src: url("/fonts/KaiseiDecol-Medium.ttf") format("truetype");
}
body {
  scroll-behavior: smooth;
  background-color: var(--m8u-black);
  color: var(--m8u-white);
  font-family: "Kaisei Decol";
  /* background: radial-gradient(#e1f7ac, #baf7ba); */
  /* background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-position: center;
  background-image: url("img/bg/bg.svg"); */
}
header {
  height: var(--heder-height);
  background-color: var(--m8u-2);
  color: var(--m8u-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  min-height: var(--footer-height);
  background-color: var(--m8u-5);
  color: var(--m8u-black);
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  max-width: var(--main-max-width);
  margin: 0 auto;
  min-height: calc(100vh - var(--heder-height) - var(--footer-height));
  padding-top: var(--main-padding-top);
}
.basis-height {
  height: calc(
    100vh - var(--main-padding-top) - var(--heder-height) - var(--footer-height)
  );
}

.text-m8u-black {
  color: var(--m8u-black);
}
.text-m8u-white {
  color: var(--m8u-white);
}
.text-m8u-1 {
  color: var(--m8u-1);
}
.bg-m8u-white {
  background-color: var(--m8u-white);
}
.bg-m8u-1 {
  background-color: var(--m8u-1);
}

.kaisei-decol {
  font-family: "Kaisei Decol";
}

.glass-frame {
  width: var(--glass-frame-width);
  height: var(--glass-frame-height);
  margin: var(--glass-frame-margin-y) var(--glass-frame-margin-x);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-top-glass-frame {
  margin-top: calc(
    -1 * (var(--glass-frame-height) * 2) + (var(--glass-frame-margin-y) * 4)
  );
}

@media screen and (max-width: 640px) {
  .index-top-glass-frame {
    margin-top: 12px;
    /* color: var(--m8u-2); */
  }
}

.color-shadow-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  /* Required properties */
  position: relative;
  background: white;

  /* Use  your own styles here */
  margin: 45px;
  width: 250px;
  height: 123px;
}

.color-shadow-box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #cfc6f7 0%, #f794c6 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.color-shadow-box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.quad-card-wrapper {
  max-width: 1100px;
}
